
.btn-mainMenu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

@media (prefers-color-scheme: light) {
    .btn-mainMenu-container a {
        background-color: #e0e0e0;
        color: #213547;
    }
    .btn-mainMenu-container a:hover {
        background-color: #747bff;
        color: #ffffff;
    }
}
